<section class="lp-layer hero">
    <div class="layer__inner | even-columns">
        <div class="hero-text">
            <h1>Hi, I'm <span class="accent">Paul.</span></h1>
            <p>
                Welcome to my corner of the web. I'm a father, husband, vinyl
                music enthusiast, maker, and podcast host.
            </p>

            <a class="btn btn-primary" href="about/">About</a>
            <a class="btn btn-ghost" href="blog/">Blog</a>

            <div class="hero-icons">
                <a href="https://www.paulcutler.org/feed_rss_created.xml" title="RSS feed">
                    <i class="fa fa-solid fa-rss"></i>
                </a>
                <a href="https://www.circuitpythonshow.com/" title="Circuit Python Show">
                    <i class="fa fa-solid fa-microphone"></i>
                </a>
                <a href="https://pixelfed.social/prcutler" title="Pixelfed">
                    <i class="fa fa-brands fa-pixelfed"></i>
                </a>
                <a href="https://www.discogs.com/user/prcutler" title="Discogs">
                    <i class="fa fa-solid fa-record-vinyl"></i>
                </a>
                <a href="https://hachyderm.io/@prcutler" title="Mastodon">
                    <i class="fa fa-brands fa-mastodon"></i>
                </a>
                <a href="https://bsky.app/profile/paulcutler.org" title="Bluesky">
                    <i class="fa fa-brands fa-bluesky"></i>
                </a>
                <a href="https://github.com/prcutler" title="GitHub">
                    <i class="fa fa-brands fa-github"></i>
                </a>
                <a href="https://linkedin.com/in/paulrcutler" title="LinkedIn">
                    <i class="fa fa-brands fa-linkedin"></i>
                </a>
                <a href="mailto:paul@paulcutler.org" title="Email">
                    <i class="fa fa-solid fa-envelope"></i>
                </a>
            </div>
        </div>
        <div class="hero-image">
            <img src="assets/images/profile-envy-web.png" alt="Paul Cutler" />
        </div>
    </div>
</section>
