<section class="lp-layer hero">
    <div class="layer__inner | even-columns">
        <!-- To change the alignment of the text & image just place the <div class="hero-image"> above "hero-text" -->
        <div class="hero-text">
            <h1>Hi, I'm Paul.</h1>
            <p>
                Welcome to my corner of the web. I'm a father, husband, vinyl
                music enthusiast, maker, and podcast host.
            </p>

            <!-- By using data-type inverted we can create an alternative styling -->
            <a class="button" href="about/">About</a>
            <a class="button" href="blog/">Blog</a>

            <br />
            <br />
            <a href="https://www.paulcutler.org/feed_rss_created.xml">
                <i class="fa fa-solid fa-rss"></i
            ></a>
            <a href="https://www.circuitpythonshow.com/">
                <i class="fa fa-solid fa-microphone"></i
            ></a>
            <a href="https://pixelfed.social/prcutler">
                <i class="fa fa-brands fa-pixelfed"></i
            ></a>
            <a href="https://www.discogs.com/user/prcutler">
                <i class="fa fa-solid fa-record-vinyl"></i
            ></a>
            <a href="https://hachyderm.io/@prcutler">
                <i class="fa fa-brands fa-mastodon""></i
            ></a>
            <a href="https://bsky.app/profile/paulcutler.org">
                <i class="fa fa-brands fa-bluesky""></i
            ></a>
            <a href="https://github.com/prcutler">
                <i class="fa fa-brands fa-github""></i
            ></a>
            <a href="https://linkedin.com/in/paulrcutler">
                <i class="fa fa-brands fa-linkedin"></i
            ></a>
            <a href="mailto:paul@paulcutler.org">
                <i class="fa fa-solid fa-envelope"></i
            ></a>
        </div>
        <div class="hero-image">
            <img src="assets/images/profile-envy-web.png" alt="hero image" />
        </div>
    </div>
</section>
