<section class="lp-layer hero">
    <div class="layer__inner | even-columns">
        <!-- To change the alignment of the text & image just place the <div class="hero-image"> above "hero-text" -->
        <div class="hero-text">
            <h1>Hi, I'm Paul.</h1>
            <p>
                Welcome to my corner of the web. I'm a father, husband, vinyl
                music enthusiast, maker, and podcast host.
            </p>

            <!-- By using data-type inverted we can create an alternative styling -->
            <a class="button" href="about/">About</a>
            <a class="button" href="blog/">Blog</a>
        </div>
        <div class="hero-image">
            <img src="assets/images/profile-envy-web.png" alt="hero image" />
        </div>
    </div>
</section>
