span.icon {
    svg {
        line-height: 1;
        vertical-align: top;
        width: 15px;
        height: 15px;
        path {
            fill: currentcolor;
        }
    }
    &.larger svg, &.size-20 svg {
        width: 20px;
        height: 20px;
    }
    &.large svg, &.size-36 svg {
        width: 36px;
        height: 36px;
    }
}